<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>OutKargo</title>
    <link rel="icon" href="/img/FAVICON.ico"/>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <!-- DATATABLES -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/slidebar.css">
    <!-- LINK ICONOS GOOGLE -->
    <script src="https://kit.fontawesome.com/ae556fdc57.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="grid-container">
      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div class="header-left">
          <label for="">Outsourcing en Montacargas</label>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header>
      <!-- End Header -->
      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <i class="fa-solid fa-building-shield"></i> OUTKARGO
          </div>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/Administrador/">
              <i class="fa-solid fa-house"></i> Inicio
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Administrador/Usuarios/">
              <i class="fa-solid fa-users"></i> Usuarios
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Administrador/Supervisor/">
              <i class="fa-solid fa-user-shield"></i> Supervisor
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Administrador/Administrador/">
              <i class="fa-solid fa-user-secret"></i> Administrador
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Administrador/CentrosT/">
              <i class="fa-solid fa-building"></i> CentrosT
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Administrador/SeccionesT/">
              <i class="fa-regular fa-building"></i> SeccionesT
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Administrador/Mecanicos/">
              <i class="fa-solid fa-user-gear"></i> Mecanico
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Administrador/Montacargas/">
              <i class="fa-solid fa-truck"></i> Montacargas
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Administrador/Config/">
              <i class="fa-solid fa-screwdriver-wrench"></i> Configuraciones
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Login/Salir/">
              <i class="fa-solid fa-person-running"></i></box-icon> Salir
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->
      <!-- Main -->
      <main class="main-container">
      