<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>OutKargo</title>
    <link rel="icon" href="/img/FAVICON.ico"/>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <!-- DATATABLES -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/slidebar.css">
    <!-- LINK ICONOS GOOGLE -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    <div class="grid-container">
      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <label for="">Outsourcing en Montacargas</label>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header>
      <!-- End Header -->
      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">domain</span> OUTKARGO
          </div>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/Supervisor/">
              <span class="material-icons-outlined">dashboard</span> Inicio
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Supervisor/ListaEC/">
              <span class="material-icons-outlined">view_list</span> Electrica contrabalanceada
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Supervisor/ListaEPA/">
              <span class="material-icons-outlined">view_module</span> Electroca, pasillo angosto
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Supervisor/ListaETP/">
                <span class="material-icons-outlined">view_agenda</span> Electrica, toma pedido
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Supervisor/ListaS/">
              <span class="material-icons-outlined">view_column</span> Snorlift
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Supervisor/ListaCI/">
              <span class="material-icons-outlined">view_day</span> Combustion interna
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Supervisor/Montacargas/">
              <span class="material-symbols-outlined icono">forklift </span> Montacargas
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Supervisor/Operador/">
              <span class="material-symbols-outlined icono">admin_panel_settings</span> Operadores
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Supervisor/Secciones/">
              <span class="material-symbols-outlined icono">work</span> Secciones
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Supervisor/Usuarios/">
              <span class="material-symbols-outlined icono">person_add </span> Usuarios
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Supervisor/Mecanicos/">
              <span class="material-symbols-outlined icono">home_repair_service </span> Mecanicos
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Supervisor/Config/">
                <span class="material-icons-outlined">build</span> Configuraciones
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/Login/Salir/">
              <box-icon name='exit' color='#ffffff' ></box-icon> Salir
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->
      <!-- Main -->
      <main class="main-container">
      