
<!DOCTYPE html>
<html style="font-size: 16px;" lang="es"><head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="驴como maximizar mi   espacio?, NOSOTROS, Misi贸n, outsourcing, out , kargo, cargo ,Nosotros,
      Montacargas,mOntacargas,mONTACARGAS,carga,translado,alquiler,venta,info,precio,presio,compra,montacargas,operador,
      inventario,sourcing,montacargas, Maximizar, maximizar, Organizar, organizar, Equipos, Electrico,electrico, contrabalanceado, 
      Contrabalanceado,maximizar,espacio, plataforma, Venta de montacargas, Alquiler de Montacargas, Reparaci贸n montacargas, gr煤as,
      camabaja , montacargas bogota, bogota, colombia, cundinamarca, cartagena, nissan, toyota, hyster, trabajo, altura, operadores montacargas,
      Toneladas, alquiler, electricos, manual, precio, tipos de montacargas">
    <meta name="description" content="Outsourcing en montacargas">
    <title> OUTKARGO</title>
    <link rel="icon" href="/img/FAVICON.ico"/>
    <link rel="stylesheet" href="/css/Home.css" media="screen">  
    <link rel="stylesheet" href="/css/Nosotros.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/nice/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nice/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.3.6, nicepage.com">
    <meta name="referrer" content="origin">
    <meta property="og:title" content="OutKargo">
    <meta property="og:description" content="Somos una empresa especializada en el outsourcing de montacarga, con una amplia experiencia en el mercado, destacada por ofrecer al cliente soluciones ajsutadas a sus necesidades. ">
    <meta property="og:image" content="/img/Home/Logotipo.png">
    <meta property="og:url" content="outkargo.co">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "",
            "logo": "/public/img/Home/LOGO-SIN-FONDO.png"
        }
    </script>
    <script src="https://kit.fontawesome.com/ae556fdc57.js" crossorigin="anonymous"></script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="" data-home-page-title="Nosotros" class="u-body u-xl-mode" data-lang="es">
    <header class="u-clearfix u-header u-header" id="sec-287a"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://outkargo.co" class="u-image u-logo u-image-1" data-image-width="359" data-image-height="119">
          <img src="/img/Home/LOGO-SIN-FONDO.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-base" href="#carousel_1ccd" style="padding: 10px 20px;">Inicio</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-base" href="#carousel_7b1f" style="padding: 10px 20px;">Nosotros</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-base" href="#carousel_b407" style="padding: 10px 20px;">Contacto</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-base" href="#carousel_39bf" style="padding: 10px 20px;">Servicios</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-base" href="/Login" style="padding: 10px 20px;">Iniciar Sesi贸n</a>
                </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#carousel_1ccd">Nosotros</a>
                    </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#carousel_7b1f">Nosotros</a>
                    </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#carousel_b407">Contacto</a>
                    </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="l#carousel_39bf">Servicios</a>
                    </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Login">Iniciar Sesi贸n</a>
                    </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_1ccd" data-image-width="740" data-image-height="493">
      <div class="u-clearfix u-sheet u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xl u-sheet-1">
        <h5 class="u-text u-text-body-alt-color u-text-1">OutKargo outsourcing en montacargas</h5>
        <h1 class="u-text u-text-body-alt-color u-text-2">驴como maximizar tu espacio?</h1>
        <p class="u-small-text u-text u-text-default u-text-grey-50 u-text-variant u-text-3"> Imagen de aleksandralittlewolf&nbsp;en Freepik</p>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="carousel_7b1f">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-35-md u-size-35-sm u-size-35-xs u-size-39-lg u-size-39-xl u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-align-left u-black u-expanded-height u-shape u-shape-1"></div>
                  <img src="/img/Home/conductor-montacargas-reubicar-levantar-mercancias-gran-centro-almacen_342744-1447.jpg" class="u-align-left u-image u-image-1" data-image-width="740" data-image-height="494" data-animation-name="customAnimationIn" data-animation-duration="1000">
                  <p class="u-small-text u-text u-text-black u-text-default u-text-variant u-text-1"> Imagen de aleksandralittlewolf&nbsp;en Freepik</p>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-21-lg u-size-21-xl u-size-25-md u-size-25-sm u-size-25-xs u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <div class="u-border-9 u-border-black u-line u-line-horizontal u-line-1"></div>
                  <h2 class="u-text u-text-2">NOSOTROS</h2>
                  <h5 class="u-text u-text-3">驴Quienes somos?</h5>
                  <p class="u-text u-text-4">OutKargo Ltda, es una empresa especializada en el outsourcing de montacargas con una amplia experiencia en el mercado, destacada por ofrecer al cliente soluciones ajustadas a sus necesidades, cumpliendo con el suministro de maquinaria conforme con las especificaciones t茅cnicasy con un equipo de trabajo competente y comprometido.</p>
                  <a href="#carousel_2408" class="u-black u-btn u-button-style u-custom-font u-heading-font u-btn-1">Mas informaci贸n</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-black u-clearfix u-section-3" id="carousel_2408">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-56 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-25 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-left-cell u-size-40 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                      <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
                      <img class="u-expanded-width-xs u-image u-image-round u-image-1" src="/img/Home/trabajador-operando-maquina-montacargas-reubicando-mercancias-gran-centro-almacen_342744-44.png" data-image-width="740" data-image-height="494" alt="" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="X">
                      <p class="u-small-text u-text u-text-black u-text-default u-text-variant u-text-1"> Imagen de aleksandralittlewolf&nbsp;en Freepik</p>
                    </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-2">
                    <div class="u-container-layout u-valign-bottom u-container-layout-2">
                      <h5 class="u-text u-text-2">Visi贸n</h5>
                      <p class="u-text u-text-3">Ser reconcida nacionalmente como una empresa lider en el outsourcing de montacargas, proporcionando equipo con&nbsp; tecnolog铆as capaces de hacer m谩s eficientes los procesos productivos y con un recurso humano que dia a dia fortalece su competencia y compromiso para alcanzar los objetivos organizacionales.</p>
                      <a href="#carousel_b407" class="u-border-radius-0 u-btn u-btn-rectangle u-button-style u-palette-2-base u-btn-1">CONTACTANOS</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-35 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-3">
                      <h2 class="u-text u-text-palette-2-base u-text-4">Misi贸n</h2>
                      <p class="u-text u-text-default u-text-5">Somos una empresa Colombiana especializada en el outsourcing de montacargas. Contamos con un equipo de trabajo competente y comprometido con el mejoramiento continuo, enfocado a satisfacer las necesidades y expectativas de nuestros clientes, basado en un servicio oportuno, efectivo y seguro para la operaci贸n de cargue, descargue, movilizaci贸n, almacenamiento, recepci贸n de materias primas, producto en proceso y productos terminados.</p>
                    </div>
                  </div>
                  <div class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-image u-layout-cell u-right-cell u-size-40 u-image-2" data-image-width="740" data-image-height="493" data-animation-name="customAnimationIn" data-animation-duration="1000" data-href="https://outkargo.co">
                    <div class="u-container-layout u-valign-bottom-xs u-container-layout-4">
                      <p class="u-small-text u-text u-text-black u-text-default u-text-variant u-text-6"> Imagen de senivpetro en Freepik</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-white u-section-4" id="carousel_39bf">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <img class="u-expanded-width-xl u-image u-image-1" src="/img/Home/interior-gran-almacen-distribucion-estantes-apilados-paletas-productos-listos-mercado_342744-1481.png" data-image-width="740" data-image-height="494">
                  <p class="u-small-text u-text u-text-black u-text-default u-text-variant u-text-1"> Imagen de aleksandralittlewolf&nbsp;en Freepik</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-text u-text-palette-2-base u-text-2">Servicios</h2>
                  <p class="u-text u-text-grey-50 u-text-3">H谩ganos saber cu谩les son sus requerimientos, con gusto lo contactaremos y asesoraremos,en los equipos requeridos para hacer m谩s productiva su operaci贸n.<br>
                    <br>
                  </p>
                  <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-table u-table-responsive u-table-1">
                    <table class="u-table-entity">
                      <colgroup>
                        <col width="36%">
                        <col width="30.6%">
                        <col width="33.400000000000006%">
                      </colgroup>
                      <thead class="u-grey-50 u-table-header u-table-header-1">
                        <tr style="height: 42px;">
                          <th class="u-border-1 u-border-grey-50 u-table-cell">Equipo</th>
                          <th class="u-border-1 u-border-grey-50 u-table-cell">Capacidad</th>
                          <th class="u-border-1 u-border-grey-50 u-table-cell">Altura</th>
                        </tr>
                      </thead>
                      <tbody class="u-table-body">
                        <tr style="height: 89px;">
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">El茅ctrico contrabalanceado</td>
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">2 a 6 Ton</td>
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Desde 3 hasta 7 M</td>
                        </tr>
                        <tr style="height: 89px;">
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">El茅ctrico pasillo angosto</td>
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Desde 1 a 2.5 Ton</td>
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"> Desde 5 hasta 10 M</td>
                        </tr>
                        <tr style="height: 112px;">
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Combusti贸n a gas</td>
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Desde 2.5 hasta 8 Ton</td>
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Desde 2.4 hasta 7 M</td>
                        </tr>
                        <tr style="height: 112px;">
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Combusti贸n di茅sel</td>
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">5 Ton hasta 12 Ton</td>
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell"> Desde 4.8 hasta 7 M</td>
                        </tr>
                        <tr style="height: 66px;">
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Plataforma de trabajo elevado</td>
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">227 Kg</td>
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">10 M</td>
                        </tr>
                        <tr style="height: 89px;">
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Toma pedidos</td>
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">1.5 Ton</td>
                          <td class="u-border-1 u-border-grey-40 u-border-no-left u-border-no-right u-table-cell">Desde 1 hasta 7M</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-5" id="carousel_b1a3">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-container-style u-image u-layout-cell u-left-cell u-shading u-size-60 u-image-1" data-image-width="740" data-image-height="494">
                  <div class="u-container-layout">
                    <p class="u-small-text u-text u-text-default u-text-variant u-text-white u-text-1"> Imagen de aleksandralittlewolf&nbsp;en Freepik</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="740" data-image-height="493">
                      <div class="u-container-layout"></div>
                    </div>
                    <div class="u-align-left-md u-align-left-sm u-align-left-xs u-container-style u-custom-color-3 u-layout-cell u-right-cell u-size-30 u-layout-cell-3">
                      <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                        <h2 class="u-text u-text-2">Mas Informaci贸n</h2>
                        <a href="#carousel_b407" class="u-btn u-button-style u-palette-2-base u-btn-1">CONTACTANOS</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-palette-2-base u-size-30 u-layout-cell-4">
                      <div class="u-container-layout">
                        <h2 class="u-text u-text-3">OutKargo</h2>
                        <p class="u-text u-text-4">La capacidad de los equipos var铆an seg煤n la altura y el centro de gravedad. Para la selecci贸n del equipo, comun铆quese con el 谩rea t茅cnica de la empresa.</p>
                      </div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-3" data-image-width="740" data-image-height="493">
                      <div class="u-container-layout"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-expanded-width-xl u-section-6" id="carousel_b407">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-27">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                      <h5 class="u-text u-text-1">uBICACIN</h5>
                      <p class="u-text u-text-grey-50 u-text-2">Transv 72F No. 42C-40 Barrio La Chucua<br>Bogot谩-Colombia<br>Telefono: 7568651<br>Correo: sistemas@outkargo.co
                      </p>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                      <div class="u-grey-light-2 u-map u-map-1">
                        <div class="embed-responsive">
                          <iframe class="embed-responsive-item" src="//maps.google.com/maps?output=embed&amp;q=OutKargo&amp;z=17&amp;t=m" data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWFkZHJlc3MlMjIlMkMlMjJhZGRyZXNzJTIyJTNBJTIyT3V0S2FyZ28lMjIlMkMlMjJ6b29tJTIyJTNBMTclMkMlMjJ0eXBlSWQlMjIlM0ElMjJyb2FkJTIyJTJDJTIybGFuZyUyMiUzQW51bGwlMkMlMjJhcGlLZXklMjIlM0FudWxsJTJDJTIybWFya2VycyUyMiUzQSU1QiU1RCU3RA=="></iframe>
                        </div>
                      </div>
                      <p class="u-text u-text-3">漏2023 Derechos reservados&nbsp;</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-33">
                <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3">
                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                      <h2 class="u-text u-text-4">CONTACTANOS</h2>
                      <div class="u-expanded-width u-form u-form-1">
                        <form id="form" class="u-block-8d93-21 u-clearfix u-form-spacing-25 u-form-vertical u-inner-form" source="email"><!-- hidden inputs for siteId and pageId -->
                          <div class="u-form-group u-form-name">
                            <label for="name-e4cc" class="u-form-control-hidden u-label"></label>
                            <input type="text" placeholder="Ingresa tu nombre" id="name-e4cc" name="name" class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-input u-input-rectangle" required>
                          </div><!-- always visible -->
                          <div class="u-form-email u-form-group">
                            <label for="email-e4cc" class="u-form-control-hidden u-label">Email</label>
                            <input type="email" placeholder="Ingresa un correo" id="email-e4cc" name="email" class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-input u-input-rectangle" required>
                          </div>
                          <div class="u-form-group u-form-name">
                            <label for="name-e4cc" class="u-form-control-hidden u-label"></label>
                            <input type="tel" placeholder="Ingresa tu numero de telefono" id="name-e4cc" name="telephone" class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-input u-input-rectangle" required>
                          </div>
                          <div class="u-form-group u-form-message">
                            <label for="message-e4cc" class="u-form-control-hidden u-label">Message</label>
                            <textarea placeholder="Ingresa el mensaje" rows="4" cols="50" id="message-e4cc" name="message" class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-input u-input-rectangle" required=></textarea>
                          </div>
                          <div class="u-form-group u-form-submit">
                            <input type="submit" value="ENVIAR MENSAJE" class="u-btn u-btn-submit u-button-style u-palette-2-base u-btn-1" id="button">
                          </div>
                        </form>
                        <script type="text/javascript"
                          src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
                        </script>
                        
                        <script type="text/javascript">
                          emailjs.init('kkr3-1q51ereuc1gT')
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-clearfix u-footer u-grey-80" id="sec-64ea"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://outkargo.co" class="u-image u-logo u-image-1" data-image-width="359" data-image-height="119">
          <img src="/img/Home/LOGO-SIN-FONDO-BLANCO.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-hidden-md u-hidden-sm u-hidden-xs u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-custom-text-active-color u-custom-text-hover-color u-nav-link" href="#">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-base" href="#carousel_1ccd">Inicio</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-base" href="#carousel_7b1f">Nosotros</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-base" href="#carousel_39bf">Servicios</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-palette-2-base" href="/Login">Iniciar Sesi贸n</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#carousel_1ccd">Inicio</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#carousel_7b1f">Nosotros</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#carousel_39bf">Servicios</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Login">Iniciar Sesi贸n</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></footer>
      <a href="/Soporte/">
        <div class="floating-chat-button" id="floating-chat-button">
          <i class="fa fa-message fa-regular"></i>
          <div class="tooltip">
              <p>Hola , Si necesitas ayuda, aqu铆 nos encontrar谩s.</p>
          </div>
        </div>
      </a>
      
      

      
     
      
</body>
<script>
  const btn = document.getElementById('button');
    document.getElementById('form')
    .addEventListener('submit', function(event) {
      event.preventDefault();
    
      btn.value = 'Enviando...';
    
      const serviceID = 'default_service';
      const templateID = 'template_jy6821i';
    
      emailjs.sendForm(serviceID, templateID, this)
        .then(() => {
          btn.value = 'ENVIAR MENSAJE';
          Swal.fire({
              title:'Mensaje enviado',
              text:'Gracias, recibiras una pronta respuesta por correo o uno de nuestros asesores te contactara.',
              icon:'success',
              showConfirmButton: true,
              timer: 6000
          }).then(()=>{
              window.location='/'
          })
        }, (err) => {
          btn.value = 'ENVIAR MENSAJE';
          Swal.fire({
              title:'Error',
              text:'No hemos podido enviar tu mensaje por favor verifica que todos los campos sean correctos.',
              icon:'error',
              showConfirmButton: true,
              timer: 6000
          }).then(()=>{
              window.location='/'
          })
        });
  });

  </script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="//code.tidio.co/fhqynsmalid0vzd1rb7z9r4dv50l9fgf.js" async></script>

</html>