<html>
    <body>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <% if (typeof alert != "undefined")  { %>
            <script>
            Swal.fire({
                title:'<%= alertTitle %>',
                text:'<%= alertMessage %>',
                icon:'<%= alertIcon %>',
                showConfirmButton: true,
                timer: false
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
            </script>
            <% } %>
    </body>
</html>